.login{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background-color: #ffffff;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
} 

.login-width{
    margin:30px 50px;
    text-align: center;
}

.input{
    margin-bottom: 20px;
}

.login-btn{
    margin: 20px 0 10px 0;
}

.login-img{
    margin-bottom: 20px;
}

.login-icon{
    padding: 10px;
    text-align: right;
    width: 100%;
}

.login-width .ant-input{
    font-size: 12px;
}

.login-register{
    text-decoration: underline;
    cursor: pointer;
}

.login-otherTitle{
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-lineLeft{
    height: 2px;
    width: 100px;
    background: linear-gradient(to right,#eeeff1,#dbdbdb)
}

.login-lineRight{
    height: 2px;
    width: 100px;
    background: linear-gradient(to left,#eeeff1,#dbdbdb)
}

.login-other{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 12px;
    color: #999999;
}

.login-other div div{
    margin-top: 10px;
}

.login-icon1{
    font-size: 24px;
    color: #666666;
}

.login-border{
    border: 1px solid #c1c1c1;
    border-radius: 50%;
    line-height: 45px;
    width: 45px;
    height: 45px;
}

.login-back{
    margin-top: 20px;
    cursor: pointer;
}

